

.footer{
    display: inline-block;
    margin-top: 100px;
    background-color: #131313;
    width: 100%;
}

.footer form{
    float: right;
    width: 35%;
    display: inline-block;
    background-color: #ffffff;
    padding: 10px;
    margin:15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-shadow:inset #b4b4b4 5px 5px 5px 0;
}

